.community {
    padding-top: 263px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__title {
        max-width: 325px;
        font-size: 36px;
        line-height: 45px;
    }
    &__subtitle {
        font-weight: 400;
        max-width: 325px;
        font-size: 18px;
        line-height: 22px;
        opacity: 0.5;
    }
    &__btn {
        &-img {
            margin-right: 4px;
        }
    }
    &__shops {
        display: grid;
        grid-template-columns: repeat(3, 230px);
        gap: 49px 49px;
    }
    &__shop {
        &-subtitle {
            font-weight: 400;
            line-height: 17px;
            color: #3F3D56;
        }
        &-warning-title {
            font-size: 18px;
            line-height: 22px;
        }
        &-link {
            &:hover {
                text-decoration: none;
            }
        }
    }
}