@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .services {
        &__items {
            column-gap: 10px;
        }
        &__item {
            &-title {
                font-size: 22px;
            }
            &-subtitle {
                font-size: 14px;
            }
            &-warning-title {
                font-size: 16px;
            } 
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__block {
            max-width: 626px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .services {
        &__items {
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: center;
            row-gap: 60px;
        }
        &__item {
            &-title {
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__block {
            max-width: 407px;
            padding: 34px 29px 45px 29px;
        }
        &__title {
            font-size: 25px;
            line-height: 35px;
            text-align: center;
        }
        &__btn {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .services {
        padding-top: 320px;
        &__items {
            grid-template-columns: repeat(auto-fit, minmax(auto, 386px));
        }
        &__item {
            &-photo {
                display: block;
                margin: 0 auto;
            }
            &-title {
                text-align: center;
            }
        }
    }
}

@media (max-width: 576px) {
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
    .promo {
        &__block {
            max-width: 264px;
        }
        &__title {
            font-size: 21px;
            line-height: 28px;
        }
        &__btn {
            width: 175px;
        }
        &__subtitle {
            font-size: 17px;
        }
    }
    .services {
        &__item {
            &-subtitle {
                text-align: center;
            }
            &-warning-title {
                text-align: center;
            }
        }
    }
    
}