@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .services {
        &__items {
            column-gap: 10px;
        }
        &__item {
            &-title {
                font-size: 22px;
            }
            &-subtitle {
                font-size: 14px;
            }
            &-warning-title {
                font-size: 16px;
            } 
        }
    }
    .facilities {
        padding-top: 200px;
        &__items {
            grid-template-columns: repeat(auto-fit,minmax(auto,275px));
            gap: 46px 46px;
        }
    }
    .community {
        padding-top: 122px;
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__shops {
            margin-top: 80px;
        }
        &__title, &__subtitle {
            max-width: 669px;
            text-align: center;
        }
        &__btn {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .advantages {
        padding-top: 150px;
        &__item {
            &-title {
                font-size: 21px;
            }
            &-subtitle {
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__block {
            max-width: 626px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .services {
        &__items {
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: center;
            row-gap: 60px;
        }
        &__item {
            &-title {
                margin-top: 30px;
            }
        }
    }
    .facilities {
        padding-top: 150px;
        &__title {
            text-align: center;
        }
        &__items {
            margin-top: 70px;
            grid-template-rows: 242px;
            justify-content: center;
        }
        &__item {
            &-title {
                margin-top: 40px;
            }
        }
    }
    .community {
        &__shops {
            margin-top: 50px;
            column-gap: 24px;
        }
    }
    .advantages {
        &__items {
            margin-top: 79px;
            grid-template-columns: repeat(2,minmax(auto,386px));
            grid-template-rows: 231px;
        }
        &__item {
            &-title {
                margin-top: 34px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__block {
            max-width: 407px;
            padding: 34px 29px 45px 29px;
        }
        &__title {
            font-size: 25px;
            line-height: 35px;
            text-align: center;
        }
        &__btn {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .services {
        padding-top: 320px;
        &__items {
            grid-template-columns: repeat(auto-fit, minmax(auto, 386px));
        }
        &__item {
            &-photo {
                display: block;
                margin: 0 auto;
            }
            &-title {
                text-align: center;
            }
        }
    }
    
    .facilities {
        padding-top: 100px;
        &__title {
            font-size: 30px;
            line-height: 40px;
        }
        &__items {
            margin-top: 60px;
        }
        &__item {
            &-title {
                margin-top: 20px;
            }
        }
    }
    .community {
        padding-top: 98px;
        &__shops {
            grid-template-columns: repeat(2,230px);
        }
        &__subtitle {
            margin-top: 23px;
        }
        &__btn {
            margin-top: 36px;
        }
    }
    .advantages {
        padding-top: 118px;
        &__title {
            text-align: center;
        }
        &__items {
            margin-top: 62px;
            grid-template-columns: repeat(auto-fit,minmax(auto,386px));
            grid-template-rows: unset;
            justify-content: center;
        }
        &__item {
            align-items: center;
            &-title {
                text-align: center;
            }
            &-subtitle {
                text-align: center;
            }
        }
    }
}

@media (max-width: 576px) {
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
    .promo {
        &__block {
            max-width: 264px;
        }
        &__title {
            font-size: 21px;
            line-height: 28px;
        }
        &__btn {
            width: 175px;
        }
        &__subtitle {
            font-size: 17px;
        }
    }
    .services {
        &__item {
            &-subtitle {
                text-align: center;
            }
            &-warning-title {
                text-align: center;
            }
        }
    }

    .facilities {
        padding-top: 100px;
        &__title {
            font-size: 29px;
            line-height: 31px;
        }
        &__items {
            margin-top: 40px;
            grid-template-rows: 190px;
        }
        &__item {
            align-items: center;
            &-subtitle {
                margin-top: 9px;
                text-align: center;
            }
        }
    }
    .community {
        padding-top: 90px;
        &__shops {
            grid-template-columns: 230px;
        }
        &__shop {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-title {
                margin-top: 14px;
            }
        }
        &__title {
            font-size: 28px;
            line-height: 36px;
        }
        &__subtitle {
            font-size: 15px;
        }
    }
    .advantages {
        &__title {
            font-size: 32px;
        }
        &__items {
            margin-top: 43px;
        }
        &__item {
            &-title {
                margin-top: 21px;
            }
        }
    }
}